{% extends 'main.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{%  static 'cart.css' %}">    
{% endblock %}


    {% block content %}
<center>
        <h1>cart page</h1>

<table border="2 solid black">
    <tr>
        <th>Sl no</th>
        <th>product name</th>
        <th>product Category</th>
        <th>price</th>
        <th>quantity</th>
        <th>Total price</th>
        <th>remove</th>
    </tr>
     {% for i in data  %}
    <tr>
        <td> {{forloop.counter}} </td>
        <td> {{i.pname}} </td>
        <td> {{i.pcategory}} </td>
        <td> {{i.price}} </td>
        <td> <a href="{% url 'decrement' i.id %}">-</a>{{i.quantity}} <a href="{% url 'increment' i.id %}">+</a> </td>
        <td> {{i.totalprice}} </td>
        <td> <a href="{% url 'remove' i.id %}">Remove</a> </td>
    </tr>
    {% endfor %}
</table>
<h1> total price is : {{totalprice}}</h1>   
</center>
    
    {% endblock %}
  