{% extends 'main.html' %}
    {% load static %}
    {% block style %}
    <link rel="stylesheet" href="{%  static 'home.css' %}">    
    {% endblock %}


    {% block content %}
  
<center>
    <h1 class="home-title">HOME</h1>

    <a href="{% url 'home' %}" class="all-products">ALL PRODUCTS</a>

    {% if no_data %}
        <h1>No Product Found</h1>
    {% endif %}

    <div class="category-box">
        {% for i in category %}
        <form action="">
            <input type="submit" value="{{i}}" name="category">
        </form>
        {% endfor %}
    </div>

    {% if trending %}
        <h1 class="offer-title">TRENDING !!!!..</h1>
    {% endif %}

    {% if offer %}
        <h1 class="offer-title">50% OFF !..</h1>
    {% endif %}

    <div class="product-container">
        {% for i in data %}
        <div class="product-card">
            <img src="{{i.pimage.url}}" alt="{{i.pname}}">
            <h3>{{i.pname}}</h3>
            <p>{{i.pdesc}}</p>
            <h4>₹{{i.price}}</h4>
            <a href="{% url 'add_cart' i.id %}">Add Cart</a>
        </div>
        {% endfor %}
    </div>
</center>
    {% endblock %}