center > form{
    background: var(--card-bg);
    border: 2px solid var(--gray-border);
    border-radius: var(--radius-lg);
    padding: 42px 38px;
    max-width: 420px;
    margin: 70px auto;
    box-shadow: 0 8px 25px rgba(0,0,0,.4);
    text-align: left;
}

center > form::before{
    content:"WELCOME BACK";
    display:block;
    text-align:center;
    color:var(--yellow);
    font-size:2rem;
    font-weight:bold;
    margin-bottom:25px;
}

center > form label{
    display:block;
    /* color:#ffffff; */
    margin-top:15px;
    margin-bottom:6px;
    font-weight:bold;
}

center > form input[type="text"],
center > form input[type="password"]{
    width:100%;
    padding:12px;
    background:#3a3a3a;
    border:1px solid #666;
    border-radius:8px;
    color:#ffffff;
    font-size:16px;
}

center > form input::placeholder{
    color:#cccccc;
}

center > form input:focus{
    border-color:var(--yellow);
    outline:none;
}

center > form button{
    margin-left: 60px;
    width:200px;
    height: 40px;
    margin-top:25px;
    border:2 solid black;
    border-radius:8px;
    background:var(--yellow);
    color:#000;
    font-weight:bold;
    cursor:pointer;
    font-size: larger;
    text-align: center;
}

center > form button:hover{
    background:var(--red);
    color:rgb(110, 54, 54);

}

center > form span{
    display:block;
    text-align:center;
    margin-top:15px;
    color:rgb(23, 48, 188);
}

center > form span {
    color:red;
    text-decoration:none;
}

center > form > a{
    display:block;
    text-align:center;
    margin-top:10px;
    color:#1865a0;
    text-decoration: none;
}